// Main navigation compenent partial

.c-nav__wrapper {
  background: $c-wireframe--grey;
  border: 1px solid ¢c-wireframe--borders;
}

  .c-nav-primary {
    @include respond-max($d-bp-medium) {
      display: none;
    }

    @include respond-min($d-bp-medium) {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      margin: ($d-base-spacing / 2) 0;
    }
  }

    .c-nav-primary__item {
      display: block;

      @include respond-min($d-bp-medium) {
        flex: 1 1 100%;
        text-align: center;
        list-style: none;
      }

      @include respond-max($d-bp-medium) {
        box-sizing: border-box;
        padding: $d-base-spacing / 2;
        text-align: center;
        width: 49.5%;

        &:nth-child(odd) {
          float: left;
        }
        &:nth-child(even) {
          float: right;
        }
      }
    }

    .c-nav-primary__link {
      box-sizing: border-box;
      display: block;

      @include respond-min($d-bp-medium) {
        font-size: rem(20px);
        padding: rem(12px);
      }
    }

  .c-nav-secondary {
    margin-left: $d-base-spacing * 0.75;
  }

  .c-nav-primary__nav-trigger {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 90%;
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;

    &:after {
      border: 1px solid $c-wireframe--borders;
      content: 'Menu';
      display: block;
      font-family: $f-family-heading;
      margin: 20px 0;
      padding: 10px;
    }

    &:checked {
      &:after {
        content: 'Close menu';
      }
    }

    &:checked ~ .c-nav-primary {
      display: block;
    }

    @include respond-min($d-bp-medium) {
      display: none;
    }
  }
