  .c-article__hero {
    display: block;
    max-width: 100%;
    width: 100%;
  }

  .c-article__heading {
    font-family: $f-family-heading;
    font-size: rem($f-header-h1);
    line-height: 1;
    margin: 0 0 ($d-base-spacing / 2);

    @include respond-max($d-bp-medium) {
      margin-top: $d-base-spacing / 2;
    }
    @include respond-min($d-bp-medium) {
      font-size: rem($f-header-h1--large-scn);
    }
  }

  .c-article__meta {
    font-size: rem($f-supporting-text);
    margin-bottom: rem($d-base-spacing / 2);
  }

  .c-article__stacked {
    margin-bottom: $d-base-spacing;

    .c-article__heading {
      font-size: rem($f-header-h2);
    }
  }

  .c-article__mini {

  }

  .c-article__supporting-links {
    margin-top: $d-base-spacing;

    .c-article__heading {
      font-size: rem($f-header-h3);
    }
  }
