.c-social__wrapper {
  @include respond-min($d-bp-medium) {
    padding: 0;
    text-align: center;
    width: 25%;
  }
}

  .c-social__link {
    display: inline-block;
    padding: ($d-base-spacing / 2) 0;
    text-align: center;
    width: 30%;

    @include respond-max($d-bp-medium) {

    }
  }

  .c-social-link__icon {
    font-size: rem(30px);

    @include respond-min($d-bp-medium) {
      font-size: rem(50px);
    }
  }

  .fa-facebook-square {
    color: $c-social--facebook;

    &:hover,
    &:focus,
    &:active,
    &:visited {
      color: darken($c-social--facebook, 15%)
    }
  }

  .fa-twitter-square {
    color: $c-social--twitter;
    &:hover,
    &:focus,
    &:active,
    &:visited {
      color: darken($c-social--twitter, 15%)
    }
  }

  .fa-google-plus-square {
    color: $c-social--gplus;
    &:hover,
    &:focus,
    &:active,
    &:visited {
      color: darken($c-social--gplus, 15%)
    }
  }
