a {
	// color: ;
	text-decoration: none;
	transition: border-bottom-color 0.25s;

	&:hover {
		// text-decoration: underline;
	}
}

ul {
	padding-left: 0;
}

.f-brand {
	font-family: $f-family-heading;
}
