a:not([class]) {
	// color: ;
	text-decoration: none;
	transition: border-bottom-color 0.25s;

	&:hover {
    border-bottom: 1px solid;
    // color:;
	}
}

ul {
	padding-left: 0;
}

.f-brand {
	font-family: $f-family-heading;
}
