$c-wireframe--grey:      #e4e4e4;
$c-wireframe--borders:   #000;

$c-social--facebook:     #3b5998;
$c-social--twitter:      #4099FF;
$c-social--gplus:        #dd4b39;

$c-site__link:          #000;
$c-site__link--hover:   #ff9900;
